@model IEnumerable<CRUD.Models.Transaction>

@{
    ViewData["Title"] = "Index";
   
}

<h1>Book</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BenName)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-sm btn-success">
                   <i class="fa-solid fa-plus"></i> New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BenName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.TranId" class="btn btn-warning">
                    <i class="fa-solid fa-pen-to-square"></i> </a> |
                
                    <form asp-action="Delete" asp-route-id="@item.TranId">
                    <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Are you sure delete')" >
                        <i class="far fa-trash-alt"></i>
                    </button>
                </form>
                  
            </td>
        </tr>
}
    </tbody>
</table>
